Ksiazki/IA_Client/src/META-INF/wsdl/localhost_666/books.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://books/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://books/" name="BookManagerService">
<types>
<xsd:schema>
<xsd:import namespace="http://books/" schemaLocation="http://localhost:666/books?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"></part>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"></part>
</message>
<message name="searchByTitle">
<part name="parameters" element="tns:searchByTitle"></part>
</message>
<message name="searchByTitleResponse">
<part name="parameters" element="tns:searchByTitleResponse"></part>
</message>
<message name="searchByAuthor">
<part name="parameters" element="tns:searchByAuthor"></part>
</message>
<message name="searchByAuthorResponse">
<part name="parameters" element="tns:searchByAuthorResponse"></part>
</message>
<message name="searchByISBN">
<part name="parameters" element="tns:searchByISBN"></part>
</message>
<message name="searchByISBNResponse">
<part name="parameters" element="tns:searchByISBNResponse"></part>
</message>
<portType name="BookManager">
<operation name="add">
<input wsam:Action="http://books/BookManager/addRequest" message="tns:add"></input>
<output wsam:Action="http://books/BookManager/addResponse" message="tns:addResponse"></output>
</operation>
<operation name="searchByTitle">
<input wsam:Action="http://books/BookManager/searchByTitleRequest" message="tns:searchByTitle"></input>
<output wsam:Action="http://books/BookManager/searchByTitleResponse" message="tns:searchByTitleResponse"></output>
</operation>
<operation name="searchByAuthor">
<input wsam:Action="http://books/BookManager/searchByAuthorRequest" message="tns:searchByAuthor"></input>
<output wsam:Action="http://books/BookManager/searchByAuthorResponse" message="tns:searchByAuthorResponse"></output>
</operation>
<operation name="searchByISBN">
<input wsam:Action="http://books/BookManager/searchByISBNRequest" message="tns:searchByISBN"></input>
<output wsam:Action="http://books/BookManager/searchByISBNResponse" message="tns:searchByISBNResponse"></output>
</operation>
</portType>
<binding name="BookManagerPortBinding" type="tns:BookManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="add">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="searchByTitle">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="searchByAuthor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="searchByISBN">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BookManagerService">
<port name="BookManagerPort" binding="tns:BookManagerPortBinding">
<soap:address location="http://localhost:666/books"></soap:address>
</port>
</service>
</definitions>