Ksiazki/IA_06/IA_06/Connected Services/ServiceReference1/BookManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://books/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="BookManagerService" targetNamespace="http://books/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:666/books?xsd=1" namespace="http://books/" />
    </xsd:schema>
  </types>
  <message name="add">
    <part name="parameters" element="tns:add" />
  </message>
  <message name="addResponse">
    <part name="parameters" element="tns:addResponse" />
  </message>
  <message name="searchByTitle">
    <part name="parameters" element="tns:searchByTitle" />
  </message>
  <message name="searchByTitleResponse">
    <part name="parameters" element="tns:searchByTitleResponse" />
  </message>
  <message name="searchByAuthor">
    <part name="parameters" element="tns:searchByAuthor" />
  </message>
  <message name="searchByAuthorResponse">
    <part name="parameters" element="tns:searchByAuthorResponse" />
  </message>
  <message name="searchByISBN">
    <part name="parameters" element="tns:searchByISBN" />
  </message>
  <message name="searchByISBNResponse">
    <part name="parameters" element="tns:searchByISBNResponse" />
  </message>
  <portType name="BookManager">
    <operation name="add">
      <input wsam:Action="http://books/BookManager/addRequest" message="tns:add" />
      <output wsam:Action="http://books/BookManager/addResponse" message="tns:addResponse" />
    </operation>
    <operation name="searchByTitle">
      <input wsam:Action="http://books/BookManager/searchByTitleRequest" message="tns:searchByTitle" />
      <output wsam:Action="http://books/BookManager/searchByTitleResponse" message="tns:searchByTitleResponse" />
    </operation>
    <operation name="searchByAuthor">
      <input wsam:Action="http://books/BookManager/searchByAuthorRequest" message="tns:searchByAuthor" />
      <output wsam:Action="http://books/BookManager/searchByAuthorResponse" message="tns:searchByAuthorResponse" />
    </operation>
    <operation name="searchByISBN">
      <input wsam:Action="http://books/BookManager/searchByISBNRequest" message="tns:searchByISBN" />
      <output wsam:Action="http://books/BookManager/searchByISBNResponse" message="tns:searchByISBNResponse" />
    </operation>
  </portType>
  <binding name="BookManagerPortBinding" type="tns:BookManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="add">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="searchByTitle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="searchByAuthor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="searchByISBN">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="BookManagerService">
    <port name="BookManagerPort" binding="tns:BookManagerPortBinding">
      <soap:address location="http://localhost:666/books" />
    </port>
  </service>
</definitions>