Ksiazki/IA_06/IA_06/Connected Services/ServiceReference1/books.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://books/" targetNamespace="http://books/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="add" type="tns:add" />
  <xs:element name="addResponse" type="tns:addResponse" />
  <xs:element name="searchByAuthor" type="tns:searchByAuthor" />
  <xs:element name="searchByAuthorResponse" type="tns:searchByAuthorResponse" />
  <xs:element name="searchByISBN" type="tns:searchByISBN" />
  <xs:element name="searchByISBNResponse" type="tns:searchByISBNResponse" />
  <xs:element name="searchByTitle" type="tns:searchByTitle" />
  <xs:element name="searchByTitleResponse" type="tns:searchByTitleResponse" />
  <xs:complexType name="searchByTitle">
    <xs:sequence>
      <xs:element minOccurs="0" name="title" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchByTitleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="book" type="tns:book" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="book">
    <xs:sequence>
      <xs:element minOccurs="0" name="author" type="xs:string" />
      <xs:element minOccurs="0" name="isbn" type="xs:string" />
      <xs:element name="pages" type="xs:int" />
      <xs:element minOccurs="0" name="publisher" type="xs:string" />
      <xs:element minOccurs="0" name="title" type="xs:string" />
      <xs:element name="year" type="xs:int" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="searchByISBN">
    <xs:sequence>
      <xs:element minOccurs="0" name="isbn" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchByISBNResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="book" type="tns:book" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchByAuthor">
    <xs:sequence>
      <xs:element minOccurs="0" name="author" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchByAuthorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="book" type="tns:book" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="add">
    <xs:sequence>
      <xs:element minOccurs="0" name="book" type="tns:book" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>