Zaklecia/Klient/xml-resources/web-service-references/spells/wsdl/localhost_666/spells.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spell/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://spell/" name="SpellManagerService">
<types>
<xsd:schema>
<xsd:import namespace="http://spell/" schemaLocation="http://localhost:666/spells?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"></part>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"></part>
</message>
<message name="searchByName">
<part name="parameters" element="tns:searchByName"></part>
</message>
<message name="searchByNameResponse">
<part name="parameters" element="tns:searchByNameResponse"></part>
</message>
<message name="searchByClass">
<part name="parameters" element="tns:searchByClass"></part>
</message>
<message name="searchByClassResponse">
<part name="parameters" element="tns:searchByClassResponse"></part>
</message>
<message name="searchBySchool">
<part name="parameters" element="tns:searchBySchool"></part>
</message>
<message name="searchBySchoolResponse">
<part name="parameters" element="tns:searchBySchoolResponse"></part>
</message>
<message name="searchByLevel">
<part name="parameters" element="tns:searchByLevel"></part>
</message>
<message name="searchByLevelResponse">
<part name="parameters" element="tns:searchByLevelResponse"></part>
</message>
<message name="add2">
<part name="parameters" element="tns:add2"></part>
</message>
<message name="add2Response">
<part name="parameters" element="tns:add2Response"></part>
</message>
<portType name="SpellManager">
<operation name="add">
<input wsam:Action="http://spell/SpellManager/addRequest" message="tns:add"></input>
<output wsam:Action="http://spell/SpellManager/addResponse" message="tns:addResponse"></output>
</operation>
<operation name="searchByName">
<input wsam:Action="http://spell/SpellManager/searchByNameRequest" message="tns:searchByName"></input>
<output wsam:Action="http://spell/SpellManager/searchByNameResponse" message="tns:searchByNameResponse"></output>
</operation>
<operation name="searchByClass">
<input wsam:Action="http://spell/SpellManager/searchByClassRequest" message="tns:searchByClass"></input>
<output wsam:Action="http://spell/SpellManager/searchByClassResponse" message="tns:searchByClassResponse"></output>
</operation>
<operation name="searchBySchool">
<input wsam:Action="http://spell/SpellManager/searchBySchoolRequest" message="tns:searchBySchool"></input>
<output wsam:Action="http://spell/SpellManager/searchBySchoolResponse" message="tns:searchBySchoolResponse"></output>
</operation>
<operation name="searchByLevel">
<input wsam:Action="http://spell/SpellManager/searchByLevelRequest" message="tns:searchByLevel"></input>
<output wsam:Action="http://spell/SpellManager/searchByLevelResponse" message="tns:searchByLevelResponse"></output>
</operation>
<operation name="add2">
<input wsam:Action="http://spell/SpellManager/add2Request" message="tns:add2"></input>
<output wsam:Action="http://spell/SpellManager/add2Response" message="tns:add2Response"></output>
</operation>
</portType>
<binding name="SpellManagerPortBinding" type="tns:SpellManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="add">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="searchByName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="searchByClass">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="searchBySchool">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="searchByLevel">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="add2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SpellManagerService">
<port name="SpellManagerPort" binding="tns:SpellManagerPortBinding">
<soap:address location="http://localhost:666/spells"></soap:address>
</port>
</service>
</definitions>